<article id="panel{{ twentyseventeencounter }}" {{ function('post_class', 'twentyseventeen-panel ') }}>
  {% if function('has_post_thumbnail') %}
    {% set thumbnail = function('wp_get_attachment_image_src', function('get_post_thumbnail_id', post.ID), 'twentyseventeen-featured-image' ) %}
    <div class="panel-image" style="background-image: url({{ thumbnail[0]|e('esc_url') }});">
      <div class="panel-image-prop" style="padding-top: {{ thumbnail|ratio }}%"></div>
    </div><!-- .panel-image -->
  {% endif %}

  <div class="panel-content">
    <div class="wrap">
      <header class="entry-header">
        <h2 class="entry-title">{{ function('the_title') }}</h2>

        {{ twentyseventeen_edit_link( post.ID ) }}

      </header><!-- .entry-header -->

      <div class="entry-content">
        {{ function(
              'the_content',
              __( 'Continue reading<span class="screen-reader-text"> "%s"</span>', 'twentyseventeen' )|format(function('get_the_title'))
            )
        }}
      </div><!-- .entry-content -->

      {% if function('get_the_ID') == get_option('page_for_posts') %}
        {% if recent_posts %}
          <div class="recent-posts">
            {% for subpost in recent_posts %}
              {% include 'post/content-excerpt.twig' with {post:subpost} %}
            {% endfor %}
            {{ function('wp_reset_postdata') }}
          </div><!-- .recent-posts -->
        {% endif %}
      {% endif %}

    </div><!-- .wrap -->
  </div><!-- .panel-content -->

</article><!-- #post-## -->

