<article id="post-{{ post.ID }}" {{ function('post_class') }}>
  {% if function('is_sticky') and is_home() %}
    {{ twentyseventeen_get_svg({ icon: 'thumb-tack'}) }}
  {% endif %}

  {% include 'post/content-header.twig' %}

  {% set content = function('apply_filters', 'the_content', function('get_the_content')) %}
  {% set audio = false %}

  {% if false == function('strpos', content, 'wp-playlist-script') %}
    {% set audio = function(
      'get_media_embedded_in_content',
      content,
      ['audio']
    ) %}
  {% endif %}

  {% include 'post/content-thumbnail.twig' %}

  <div class="entry-content">
    {% if not is_single() and not audio %}
      {% for audio_html in video %}
        <div class="entry-audio">
          {{ audio_html }}
        </div><!-- .entry-audio -->
      {% endfor %}
    {% endif %}

    {% if is_single() or not audio %}
      {% include 'post/entry-content.twig' %}

      {{
        function('wp_link_pages', {
          'before'      : '<div class="page-links">' . __( 'Pages:', 'twentyseventeen' ),
          'after'       : '</div>',
          'link_before' : '<span class="page-number">',
          'link_after'  : '</span>',
        })
      }}
    {% endif %}
  </div><!-- .entry-content -->

  {% if is_single() %}
    {{ function('twentyseventeen_entry_footer') }}
  {% endif %}

</article><!-- #post-## -->
