<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
  {% if function('is_sticky') and is_home() %}
    {{ twentyseventeen_get_svg({ icon: 'thumb-tack'}) }}
  {% endif %}

  {% include 'post/content-header.twig' %}
  {% set gallery = function('get_post_gallery', post.ID) %}

  {% if not gallery %}
    {% include 'post/content-thumbnail.twig' %}
  {% endif %}

  <div class="entry-content">
    {% if not is_single() %}

      {% if gallery %}
        <div class="entry-gallery">
          {{ gallery }}
        </div>
      {% endif %}
    {% endif %}

    {% if is_single() or not gallery %}
      {% include 'post/entry-content.twig' %}

      {{
        function('wp_link_pages', {
          'before'      : '<div class="page-links">' ~ __( 'Pages:', 'twentyseventeen' ),
          'after'       : '</div>',
          'link_before' : '<span class="page-number">',
          'link_after'  : '</span>',
        })
      }}
    {% endif %}
  </div><!-- .entry-content -->

  {% if is_single() %}
    {{ function('twentyseventeen_entry_footer') }}
  {% endif %}

</article><!-- #post-## -->
