<article id="post-{{post.ID}}" class="{{ post.post_class }}">

  <header class="entry-header">
    {% if 'post' == post.post_type %}
      <div class="entry-meta">
        {% include 'content/time-link.twig' %}
        {% include 'content/edit-link.twig' %}
      </div><!-- .entry-meta -->
    {% elseif 'page' == post.post_type and function('get_edit_post_link') %}
      <div class="entry-meta">
        {% include 'content/edit-link.twig' %}
      <div class="entry-meta">
    {% endif %}

    {% if is_front_page() and not is_home() %}
      <h3 class="entry-title">
      	<a href="{{ post.link }}" rel="bookmark">
      		{{ post.post_title }}
      	</a>
      </h3>
    {% else %}
      <h2 class="entry-title">
      	<a href="{{ post.link }}" rel="bookmark">{{ post.post_title }}</a>
      </h2>
    {% endif %}
  </header><!-- .entry-header -->

  <div class="entry-summary">
  	{{  post.preview }}
  </div><!-- .entry-summary -->

</article><!-- #post-## -->
