<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
  {% if function('is_sticky', post.ID) and is_home() %}
    {{ twentyseventeen_get_svg({ icon: 'thumb-tack'}) }}
  {% endif %}

  {% include 'content/content-header.twig' %}

  {% include 'post/content-thumbnail.twig' %}

  <div class="entry-content">
    {% if is_single() or '' == post.thumbnail %}
      {% include 'post/entry-content.twig' %}

      {{
        function('wp_link_pages', {
          'before'      : '<div class="page-links">' ~ __( 'Pages:', 'twentyseventeen' ),
          'after'       : '</div>',
          'link_before' : '<span class="page-number">',
          'link_after'  : '</span>',
        })
      }}
    {% endif %}
  </div><!-- .entry-content -->

  {% if is_single() %}
    {{ function('twentyseventeen_entry_footer') }}
  {% endif %}

</article><!-- #post-## -->
