<article id="post-{{ post.ID }}" class="{{ post.post_class }}">
  {% if function('is_sticky', post.ID) and is_home() %}
    {{ twentyseventeen_get_svg({ icon: 'thumb-tack'}) }}
  {% endif %}

  {% include 'content/content-header.twig' %}

  {% set content = function('apply_filters', 'the_content', post.content) %}
  {% set video = false %}

  {% if false == function('strpos', content, 'wp-playlist-script') %}
    {% set video = function(
      'get_media_embedded_in_content',
      content,
      ['video', 'object', 'embed', 'iframe']
    ) %}
  {% endif %}

  {% include 'content/content-thumbnail.twig' %}

  <div class="entry-content">
    {% if not is_single() and video|length %}
      {% for video_html in video %}
        <div class="entry-video">
          {{ video_html }}
        </div><!-- .entry-video -->
      {% endfor %}
    {% endif %}

    {% if is_single() or not video|length %}
      {% include 'post/entry-content.twig' %}

      {{
        function('wp_link_pages', {
          'before'      : '<div class="page-links">' ~ __( 'Pages:', 'twentyseventeen' ),
          'after'       : '</div>',
          'link_before' : '<span class="page-number">',
          'link_after'  : '</span>',
        })
      }}
    {% endif %}
  </div><!-- .entry-content -->

  {% if is_single() %}
    {{ function('twentyseventeen_entry_footer') }}
  {% endif %}

</article><!-- #post-## -->
